1.Print "Hello, World!"



2.Take user input and print it

3.Swap two variables

4.Check if a number is even or odd

5.Find the largest of two numbers

In [ ]:
print("hello world")

hello world

In [ ]:
a=input("Any word of your choice\n")
print(f"you entered:{a}")

Any word of your choice
hello
you entered:hello

In [ ]:

a=1
b=2
print(f"a={a},b={b}")
b,a=a,b
print(f"a={a},b={b}")

a=1,b=2
a=2,b=1

In [ ]:
a=input("enter a number\n")
if int(a)%2==0 :
  print("Even")
else:
  print("odd")

enter a number
2
Even

In [ ]:
a=int(input("enter a\n"))
b= int(input("enter b\n"))
if a>b:
  print(" a is greater")
elif b>a:
  print("b is greater")
else:
  print("both are equal")

enter a
2
enter b
3
b is greater

.Perform arithmetic operations (+, -, *, /, %, **), take any values as “a” and “b”

In [ ]:
a=float(input("enter a\n"))
b= float(input("enter b\n"))

print(f"sum={a+b}")
print(f"diff={a-b}")
print(f"prod={a*b}")
if b !=0:
  print(f"quo={a/b}")
else:
  print("ininite")
print(f"mod={a%b}")
print(f"{a}pow{b}={a**b}")

enter a
2
enter b
3
sum=5.0
diff=-1.0
prod=6.0
quo=0.6666666666666666
mod=2.0
2.0pow3.0=8.0

Calculate the square and cube of a number

In [ ]:
a=float(input("enter the number\n"))
print(f"sqaure of {a} is {a**2}")
print(f"cube of {a} is {a**3}")

enter the number
2
sqaure of 2.0 is 4.0
cube of 2.0 is 8.0

.Convert Celsius to Fahrenheit (F = (C * 9/5) + 32)

In [ ]:
c=float(input("enter the number \n"))
print(f"{c}C={(c*9/5)+32}F")

enter the number
2
2.0C=35.6F

Convert kilometers to miles (1 km = 0.621371 miles)

In [ ]:
km=float(input("give kms\n"))
print(f"{km}km={km*0.621371}miles")

give kms
100
100.0km=62.137100000000004miles

.Check if a number is positive, negative, or zero

In [ ]:
a=float(input("enter the number\n"))
if a < 0:
  print("negative")
elif a >0:
  print("positive")
else :
  print("zero")

enter the number
123
positive

Find the largest of three numbers.

In [ ]:
a=float(input("enter num1"))
b=float(input("enter num2"))
c=float(input("enter num3"))
if a>b and a>c:
  print("num1 is greater")
elif b> a and b>c:
  print("num2 is greater")
else:
  print("num3 is greater")

enter num133
enter num222
enter num311
num1 is greater

In [ ]:
y=int(input("enter the year \n "))
if y % 400 == 0:
  print("leap year")
elif y% 100 == 0:
  print("not leap year")
elif y%4==0:
  print("leap year")
else:
  print("Not leap year")

enter the year
 2000
leap year

check vowel

In [ ]:
a=input("enetr a character")
if a.lower in ("a","e","i","o","u"):
  print("vowel")
else:
  print("consonant")

enetr a characterr
consonant

Write a Python program to assign the grades to each subject based on the grade
scale:
4.
Student subject marks:
maths = 85
science = 78
english = 92
Grade scale:
A: 90-100
B: 80-89
C: 70-79
D: 60-69
E: 50-59
F: Below 50

In [ ]:
m=int(input("maths marks"))
s=int(input("sciene marks"))
e=int(input("social marks"))

def grades(i):
  if i <50:
    return "F"
  elif i<=59 and i>=90:
    return "E"
  elif i<=69 and i>=60:
    return "D"
  elif i<=79 and i>=70:
    return "C"
  elif i<=89 and i>=80:
    return "C"
  elif i<=100 and i>=90:
    return "A"

print(f"math grade- {grades(m)}")
print(f"science grade- {grades(s)}")
print(f"english grade- {grades(e)}")

maths marks23
sciene marks93
social marks87
math grade- F
science grade- A
english grade- C

.Write a program to check if a number is divisible by both 5 and 11

In [ ]:
a=int(input("enter a number"))
if a %5 ==0 and a%11==0:
  print("divisible by both 5 and 11")
else:
  print("not divisible by 5 and 11")

enter a number55
divisible by both 5 and 11

1.Print numbers from 1 to the given number N

In [ ]:
n= int(input("enter the number\n"))
for i in range(1,n+1):
  print(i)

enter the number
3
1
2
3

.Print even numbers up to the given number N

In [ ]:
n= int(input("enter the number\n"))
for i in range(0,n+1,2):
  print(i)

enter the number
12
0
2
4
6
8
10
12

Sum of first N natural numbers (sum = n * (n+1) / 2)

In [ ]:
m= int(input("enter the number\n"))
sum=0
for n in range(1,m+1):
  sum+=n

print(f"sum={sum}")
print(f"calc={int(m*(m+1)/2)}")

enter the number
5
sum=15
calc=15

.Calculate the factorial of a number (n! = n × (n-1) × ... × 1) without using def function

In [ ]:
m= int(input("enter the number\n"))
fac=1
for i in range(m,1,-1):
  print(i)
  fac*=i
print(f"factorial({m})={fac}")

enter the number
4
4
3
2
factorial(4)=24

multiplication Table

In [ ]:
m= int(input("enter the number\n"))
for i in range(1,11):
  print(f"{m}*{i}={m*i}")

enter the number
2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

1.Write a program to Reverse a given string (at least 2 ways)

In [ ]:
strng=input("enter string to reverse\n")

print("method 1")
for i in range(len(strng)-1,-1,-1):
  print(strng[i],end='')

print(f"\nmethod 2: {strng[::-1]}")

enter string to reverse
abcd
method 1
dcba
method 2: dcba

.Count the number of vowels in a string

In [ ]:
strng=input("enter string \n")
cnt=0
for i in strng:
  if i in ("a","e","i","o",'u'):
    cnt+=1
print(f"no. of vowels={cnt}")

enter string
aeiou
no. of vowels=5

.Check if a string is a palindrome

In [ ]:
strng=input("enter string \n")
if strng == strng[::-1]:
  print("palindrome")

else:
  print("not palindrome")

enter string
palindrome
not palindrome

Convert uppercase to lowercase and vice versa

In [ ]:
strng=input("enter string \n")

for i in strng:
  if i.isupper():
    print(i.lower(),end='')
  else:
    print(i.upper(),end='')

enter string
AbcD
aBCd

Find the length of a string without using len() function

In [ ]:
strng=input("enter string \n")
cnt=0
for i in strng:
  cnt+=1
print(f"str len={cnt}")

enter string
KSR Datavizon
str len=13

Find the largest element in a list

In [ ]:
ll= list(map(int,input("enter array elems  separated by spaces").split()))

max=ll[0]
for i in ll:
  if max < i:
    max=i

print(f"max element={max}")

enter array elems  separated by spaces1 2 68 0 5
max element=68

Find the smallest element in a list

In [ ]:
ll= list(map(int,input("enter array elems  separated by spaces").split()))

min=ll[0]
for i in ll:
  if min > i:
    min=i

print(f"min element={min}")

enter array elems  separated by spaces1 2 3 4 5 -9
min element=-9

3.Find the sum of elements in a list

In [ ]:
ll= list(map(int,input("enter array elems  separated by spaces").split()))
sum=0
for i in ll:
  sum+=i
print(f"sum of array={sum}")

enter array elems  separated by spaces1 1 1 1
sum of array=4

Sort a list in ascending order

In [ ]:
ll= list(map(int,input("enter array elems  separated by spaces").split()))
sorted=[]
for i in range(len(ll)):
  for j in range(i,len(ll)):
    if ll[i] >ll[j]:
      ll[i],ll[j]=ll[j],ll[i]

print(ll)

enter array elems  separated by spaces12 84 93 40 27
[12, 27, 40, 84, 93]

Remove duplicates from a list

In [ ]:
ll= list(map(int,input("enter array elems  separated by spaces").split()))
ll2=set()
for i in ll:
  if i not in ll2:
    ll2.add(i)
print(f"clean list : {list(ll2)}")

enter array elems  separated by spaces1 2 3 44 44 5 6
clean list : [1, 2, 3, 5, 6, 44]

1.Find the maximum and minimum number in a tupleFind the maximum and minimum number in a tuple

In [ ]:
tup = tuple(map(int,input("enter array elems  separated by spaces").split()))
max=tup[0]
min=tup[0]
for t in tup:
  if max < t:
    max=t
  if min > t:
    min =t
print(f"max={max}\nmin={min}")

enter array elems  separated by spaces1 4 6 -9 5
max=6
min=-9

2.Convert a tuple to a list

In [ ]:
tup = tuple(map(int,input("enter array elems  separated by spaces").split()))
print(f"converted tuple {tup} \to list = {list(tup)}")

enter array elems  separated by spaces1 2 2 3 4
converted tuple (1, 2, 2, 3, 4) to list = [1, 2, 2, 3, 4]

3.Count occurrences of an element in a tuple

In [ ]:
tup = tuple(map(int,input("enter array elems  separated by spaces").split()))
di={}
for i in tup:
  if i in di.keys():
    di[i]=di[i]+1
  else:
    di[i]=1

print(f"occurances{di}")

enter array elems  separated by spaces 1 2 3 4 4 5 6
occurances{1: 1, 2: 1, 3: 1, 4: 2, 5: 1, 6: 1}

4.Find the index of an element in a tuple

In [ ]:
tup = tuple(map(int,input("enter array elems  separated by spaces").split()))
ele= float(input("elemt to find"))
cnt=0
for t in tup:
  cnt+=1
  if t == ele:
    break
print(f"index of {ele} is {cnt}")

enter array elems  separated by spaces1 2 4 5
elemt to find1
index of 1.0 is 1

5.Reverse a tuple

In [ ]:
tup = tuple(map(int,input("enter array elems  separated by spaces").split()))
rev_tup=tuple(list(tup)[::-1])
print(f'rev_tup={rev_tup}')

enter array elems  separated by spaces 1 2 3 4 5
rev_tup=(5, 4, 3, 2, 1)

.Create empty set

In [ ]:
se=set()
print(type(se))

<class 'set'>

Perform union of two sets

In [ ]:
set1=set(map(int,input("Enter elements of set 1").split()))
set2=set(map(int,input("Enter elements of set 2").split()))
print(f"union={set1.union(set2)}")

Enter elements of set 11 2 3 4 5
Enter elements of set 23 4 5 6 7 8
union={1, 2, 3, 4, 5, 6, 7, 8}

.Perform intersection of two sets

In [ ]:
set1=set(map(int,input("Enter elements of set 1").split()))
set2=set(map(int,input("Enter elements of set 2").split()))
print(f"union={set1.intersection(set2)}")

Enter elements of set 11 2 3 4 5
Enter elements of set 23 4 5 6 7 8
union={3, 4, 5}

4.Perform difference of two sets

In [ ]:
set1=set(map(int,input("Enter elements of set 1").split()))
set2=set(map(int,input("Enter elements of set 2").split()))
print(f"A-B={set1 -set2}")
print(f"B-A={set2-set1}")

Enter elements of set 11 2 3
Enter elements of set 21 2 4
A-B={3}

.Check if a set is a subset of another

In [ ]:
set1=set(map(int,input("Enter elements of set 1").split()))
set2=set(map(int,input("Enter elements of set 2").split()))

if set2.issubset(set1):
  print("set2 is subset of set 1")

else:

  print("set2 is not subset of set 1")

Enter elements of set 11 2 3 4 5
Enter elements of set 23 4 1
set2 is subset of set 1

.Remove an element from a set

In [ ]:
set1=set(map(int,input("Enter elements of set 1").split()))
ele=int(input("enter the element to be removed"))
set1.remove(ele)
print(f"set after removing {ele} - {set1}")

Enter elements of set 11 2 3 4 5
enter the element to be removed3
set after removing 3 - {1, 2, 4, 5}

1.Create a dictionary and print keys & values

In [ ]:
di={"one":1,"two":2,"three":3,"four":4}
for k,v in di.items():
  print(f"key:{k},value:{v}")

key:one,value:1
key:two,value:2
key:three,value:3
key:four,value:4

In [ ]:
di={"one":1,"two":2,"three":3,"four":4}
print(f"sum of values:{sum(di.values())}")

sum of values:10

.Merge two dictionaries

In [ ]:
di={"one":1,"two":2,"three":3,"four":4}
di2={"five":5,"six":6,"seven":7}
print(f"merged_dict-{di|di2}")

merged_dict-{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}

.Sort a dictionary by its values

In [ ]:
dict1={'one': 1,'three': 3,'six': 6, 'two': 2,  'four': 4,   'seven': 7 ,'five': 5}
dict2={}
sorted_list=sorted(dict1.values())
for s in sorted_list:
  for k,v in dict1.items():
    if v==s:
      dict2[k]=v

print(dict2)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7}


5.Count the occurrences of elements in a dictionary

In [ ]:
occur_dict={}
valueset=set()
dict1={'one': 1,'three': 7,'six': 6 ,'five': 5,'two': 2,  'four': 5,   'seven': 7}
for v in dict1.values():


  if v in valueset:
    occur_dict[v]+=1
  else:

    occur_dict[v]=1

    valueset.add(v)

print(occur_dict)

{1: 1, 7: 2, 6: 1, 5: 2, 2: 1}

In [ ]:
dict1={'one': 1,'three': 7,'six': 6 ,'five': 5,'two': 2,  'four': 5,   'seven': 7}
occur_dict={}
for v in dict1.values():
  occur_dict[v]=occur_dict.get(v,0) +1
print(occur_dict)

{1: 1, 7: 2, 6: 1, 5: 2, 2: 1}

Check if a number is prime or not

In [ ]:
a=int(input("enter the number"))
if a==1:
  print("neither prime nor composite")
if a ==2 or a==3:
  print("prime")
elif a %2 == 0:
  print("composite")
else:
  flag=0
  for i in range(3,int(a**0.5)+1,2):
    if a%i == 0:
      flag=1
      break
  if flag == 1:
    print("composite")
  else:
    print("prime")

enter the number5
prime

In [ ]:
n=int(input("enter thr number"))
sum=0
while n > 0:
  a=n%10
  sum+=a
  n=n//10
print(sum)

enter thr number123345
18

GCD and LCM

In [ ]:

a=int(input("enter a"))
a2=a

b=int(input("enter b"))
b2=b
while b!=0:
  a,b=b,a%b

print("gcd",a)
print(f"LCM={(a2*b2)//(a)}")

enter a48
enter b18
gcd 6
LCM=144

1.Define a function to find the sum of two numbers

In [ ]:
def num_sum(a,b):
  return(a+b)

a=float((input("enter a")))
b=float(input("Enter b "))
print(f"sum={num_sum(a,b)}")

enter a2
Enter b 4
sum=6.0

.Define a function to return the square of a number

In [ ]:
def sq(a):
  return a**2
a=float(input('enter the number'))
print(f"sqaure of {a}={sq(a)}")

enter the number5
sqaure of 5.0=25.0

Define a function with default arguments

In [ ]:
def sum(a=1,b=1):
  return a+b
a=float(input('enter a'))
b=float(input('enter b'))
print(f"sum with args{a},{b}:{sum(a,b)}")
print(f"sum without args:{sum()}")

enter a1
enter b2
sum with args1.0,2.0:3.0
sum without args:2

Define a function with default arguments

In [ ]:
def sum(*args):
  sum=0
  if len(args)> 1:

    for i in range(len(args)):
      sum+=args[i]
    return sum
  return args[0]

  sum(1,2,3)
print(sum(1,2,3,4))

10

.Define a function that returns multiple values

In [ ]:
def square_cube(a):
  return a**2,a**3

a=float(input('enter the number'))
print(f"square({a}):{square_cube(a)[0]}, cube({a}):{square_cube(a)[1]}")

enter the number2
square(2.0):4.0, cube(2.0):8.0

1.Use a lambda function to add two numbers

In [ ]:
a=float(input("enter a"))
b=float(input("enter b"))
sum=lambda a,b: a+b
print(sum(a,b))

3

Use a lambda function to find the maximum of two numbers

In [ ]:
a=float(input("enter a"))
b=float(input("enter b"))
max=lambda a,b : a if a>b else b
print(f"max={max(a,b)}")

enter a1
enter b2
max=2.0

4.Use a lambda function inside map()

In [23]:
#square
ll=list(map(int,input("enter the numbers").split()))
square= list(map(lambda x : x**2,ll))
print(f"square({ll})={square}")

enter the numbers1 2 3 4  6
square([1, 2, 3, 4, 6])=[1, 4, 9, 16, 36]

filter

In [26]:
#get only even numbers
ll=list(map(int,input("enter the numbers").split()))
even_list = list(filter((lambda x : x if x%2==0 else None),ll))
print(f"{even_list}")

enter the numbers1 2 3 4 5 6
[2, 4, 6]

1.Generate a list of squares using list comprehension

In [27]:
ll=list(map(int,input("enter the numbers").split()))
print(f"square of {ll}={[ i**2 for i in ll]}")

enter the numbers1 2 3 4
square of [1, 2, 3, 4]=[1, 4, 9, 16]

Generate a list of even numbers using list comprehension

In [28]:
n=int(input("Enter th number"))
print(f"even number list {[i for i in  range(0,n+1,2)]}")

Enter th number3
even number list [0, 2]

Reverse a list using list comprehension

In [32]:
ll=list(map(int,input("enter the numbers").split()))
print(f"reverse list={[ll[i] for i in range(len(ll)-1,-1,-1)]}")

enter the numbers1 2 3 4 5
reverse list=[5, 4, 3, 2, 1]

4.Flatten a nested list using list comprehension

In [5]:
row,column=int(input("rows")),int(input("columns"))
ll=[list(map(int,input(f"enter in row {i+1}").split())) for i in range(row)]
print(ll)
print(f"flattened list:{[ll[i][j] for i in range(row) for j in range(column) ]}")

rows2
columns3
enter in row 11 2 3
enter in row 24 5 6
[[1, 2, 3], [4, 5, 6]]
flattened list:[1, 2, 3, 4, 5, 6]

.Find common elements in two lists using list comprehension

In [9]:
ll1=list(map(int,input('list 1\n').split()))
ll2=list(map(int,input('list 2\n').split()))

print(f"common elements:{[i for i in ll1 if i in ll2]}")

list 1
1 2 3 4
list 2
3 4 5 6
common elements:[3, 4]

Swap two numbers without using a third variable

In [10]:
a=float(input('enter num1'))
b= float(input('enter num2'))
print(f"before swap num1:{a},num2:{b}")
a,b=b,a
print(f"after swap num1:{a},num2:{b}")

enter num11
enter num22
before swap num1:1.0,num2:2.0
after swap num1:2.0,num2:1.0

In [12]:
a=float(input('enter num1'))
b= float(input('enter num2'))
print(a,b)
a=a+b
b=a-b2

a=a-b
print(a,b)

enter num11
enter num22
1.0 2.0
2.0 1.0

Count occurrences of each word in a sentence

In [18]:
sent=input("enter a sentence")
dict1={}
for s in sent.split(" "):
  dict1[s]=dict1.get(s,0)+1
print(dict1)

enter a sentenceksr ksr datavizon
{'ksr': 2, 'datavizon': 1}

Find the second largest number in a list

In [21]:
ll=list(set(map(int,input("enter elements").split())))
for i in range(len(ll)):
  for j in range(i+1,len(ll)):
    if ll[i] < ll[j]:
      ll[i],ll[j]=ll[j],ll[i]
print(f"second max={ll[1]}")

enter elements1 2 3 4 5 5
second max=4

Check if two strings are anagrams

In [3]:
str1=input("str1")
str2=input("str2")
def chk_angram(str1,str2):
  ll=list(str1)+list(str2)
  dict1={}
  for l in ll:
    dict1[l]=dict1.get(l,0)+1
  for v in dict1.values():
    if v%2 !=0:
      print("not anagram")
      return
  print("anagram")
chk_angram(str1,str2)

str1apple
str2pale
not anagram

Pascal's Triangle

In [26]:
n=3
arr=[0,1,0]
arr2d=[]
arr2d.append(arr[1:-1])
for j in range(n-1):
  temp_array=[]
  temp_array.append(0)
  for i in range(1,len(arr)):
    temp_array.append(arr[i-1]+arr[i])
  temp_array.append(0)
  arr2d.append(temp_array[1:-1])
  arr=temp_array

for a in arr2d:
  for j in a:
    print(j,end='')
  print()

1
11
121

\